extends layout.pug

block content 
    div.container 
        h1 Create

        if error 
            p.error Please! Try again!

        if success
            p.success Saved!

        form.form(action="/create" method='POST')

            label Name
            input.input(type="text" name= 'Name')

            label Date
            input.input(type="text" name= 'Date')

            label Location
            textarea.input(type='text' name = 'Location')

            label Description
            textarea.input(type='text' name = 'Description')

            button.btn Create

            a.cancel(href="/home") Cancel