extends layout.pug 

block content
    div.container
        h1 All Events
        
        if deleted
            p.success Deleted
        
        each event in events
            div.event-wrapper
                a.event(href=`/events/${event.id}`) #{ event.Name }
                a.update(href=`/${ event.id }/Update`) Update
                a.delete(href=`/${ event.id }/delete`) Delete