extends layout.pug

block content

    div.container
        h1.info This web application was created to fulfill Web Technology modules requirements and does not represent an actual company or service
        a.creating(href="/create") Create 