doctype html
html(lang="en")
    head
        title Event planning
        link(rel="stylesheet", href="/static/styles.css")
    body 
        header.navbar
            h1 
                a(href="/") Event Planning App 

            nav.nav
                a(href="/Events") Lists of all Events
        block content